<!--<form #form="ngForm" (ngSubmit)="submit(form)">-->
<!--  <input id="name" [class.error]="!form.controls.name?.valid" [(ngModel)]="user.name" name="name" minlength="10">-->
<!--  <div [class]="['error']" *ngIf="!form.controls.name?.valid">-->
<!--    name must be at least 10 symbols-->
<!--  </div>-->
<!--  <input [(ngModel)]="user.age" name="age">-->
<!--  <button [disabled]="!form.controls.name?.valid">Send</button>-->
<!--</form>-->


<form [formGroup]="myForm" (ngSubmit)="xxx(myForm)">
  <input [formControl]="name" minlength="10">
  <input [formControl]="age">
  <button [disabled]="!myForm.valid">Save</button>
</form>
