<div [class.target]="car.interior.heatedSeats">
  <div class="container">
    <h1>{{car.brand}}</h1>
    <p>Model: {{car.model}} <a class="link" [routerLink]="[car.id]">Info</a></p>
    <p>Engine volume: {{car.engineVolume}} cc</p>
    <p>Production year: {{car.prodYear}}</p>
    <h4>Interior</h4>
    <p>Cup holders: {{car.interior.cupHolders}}</p>
      <p>Heated seats:
        <span [class.yes]="car.interior.heatedSeats">YES</span> /
        <span [class.no]="!car.interior.heatedSeats">NO</span>
      </p>
  </div>
</div>
